html 
{
        scroll-behavior: smooth;
}
::selection
{
    background-color: black;
    color: cornsilk;
}

/*heeder*/
header
{
    background-color: black;
    height: 100vh;
    border-radius: 0 0 0 173px;
}
header .container1
{
    
    height: 100px;
    padding: 0;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: relative;
    
    
}
header .container1 .right-cont
{
    display: flex;
    align-items: center;
    overflow: hidden;
}
header .container1 .right-cont nav ul
{
    display: flex;
    list-style: none;
    margin-left: 80px;
    margin-top: 10px;

}
header .container1 .right-cont nav ul  li a
{
    color:#D4AF37 ;
    font-weight: 500;
    margin-right: 50px;
    font-size: 17px;
    cursor: pointer;

}
header .container1 .right-cont nav ul li:hover
{
    text-decoration: underline  ;
}
header .container1 .right-cont nav ul li:active
{
    color:grey;
}
header .container1 img
{
    width: 100px;
}
 button
{
    background-color:#D4AF37;
    font-weight: bold;
    border: none;
    color: rgb(37, 37, 37);
    border-radius: 4px;
    width: 119px;
    height: 41px;
    cursor: pointer;
    z-index: 2;
}
header .container1 button:hover
{
    background-color: black;
    color: #D4AF37;
}
button:focus
{
    outline: none;
}
header .background
{
    position: relative;
    top: -100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
header .background::before
{
    background-image: url("../images/triangle-solid-black-gold-4k-abstract.jpg");
    content: "";
    background-repeat: no-repeat;
    background-size:cover;
    opacity: .5;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 0 0 0 173px;
}
header .background h1
{
    color:#D4AF37;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 16px;  
    z-index: 1; 
}
header .background p
{
    color: #D4AF37;
    margin-top: 17px;
    font-size: 21px;
    opacity: .7;
    font-weight: 500;
    letter-spacing: 7px;
    z-index: 1;
}
.background button
{
    display: none;
}
.icon-hamburger
{
    display: flex;
    flex-direction: column;
    display: none;
    
}
.icon-hamburger span
{
    width: 50px;
    height: 2px;
    background-color: #D4AF37; 
    margin-top: 10px;
    
}
.icon-close
{
    display: flex;
    flex-direction: column;
    display: none;
}
.icon-close span
{
    width: 50px;
    height: 5px;
    background-color: #D4AF37;
    margin: -2px; 
}
.icon-close span:first-of-type
{
    transform: rotateZ(45deg);
}
.icon-close span:last-of-type
{
    transform: rotateZ(-45deg);

}
@media only screen and (max-width:500px)
{
    header .container1 .right-cont nav
    {
        display: none;
        height: 354px;
    }
    header .background h1
    {
        margin-bottom: 41px;
        font-size:2em;
        letter-spacing: 3px;
    }
    header .background p
    {
        letter-spacing: 3px;
        font-size: 24px;
        padding-right: 5%;
        padding-left: 5%;
        text-align: center;
        margin-bottom: 50px;
    }
    header .container1 button
    {
        display: none;
    }
    .background button
    {
        display: block;
        z-index: 1;
    }
    header .container1 img
    {
        width: 80px;
        margin: 0;;
    }
    .icon-hamburger
    {
        display: inherit;
    }
    header .container1 .right-cont nav ul
    {
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 50px;
    }
    header .container1 .right-cont nav ul li a
    {
        font-size: 26px;
        margin-bottom: 30px;
        display: block;
    }
}
/*header*/
/*cont-fi-a*/
.cont-fi-a
{
    margin-top: 160px;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.cont-fi-a h1
{
    font-weight: 100;
    font-family: "ui-monospace";
    margin: auto 15% 4% 15%;
    text-align: center;
    line-height: 74px;
    letter-spacing: 3px;
    color: #9c822b

}
.cont-fi-a img
{
    width: 50%;
    margin-bottom: 100px;
}
@media only screen and (max-width:500px)
{
    .cont-fi-a h1
    {
        font-size: 161%;
        line-height: 41px;
        letter-spacing: 4px;
    }
    .cont-fi-a img
    {

        margin-top:50px;
        width: 80%;
    }
}
/*cont-fi-a*/
hr
{
    height: 1px;
    width: 40%;
    margin: -3px auto;
}
/*cont-se-a*/
.cont-se-a 
{
    margin-top:100px ;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
}
.cont-se-a div
{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.cont-se-a img
{
    height: 180px;
    width: 300px;
    margin-bottom: 30px;
}
.cont-se-a p
{
    color: #9c822b ;
    font-size: 19px;
    font-weight: 400;
}
/*cont-thi-a*/
.cont-thi-a
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.cont-thi-a img
{
    width: 700px;
}
.cont-thi-a div
{
    padding-left: 50px;
    padding-top: 30px;
}
.cont-thi-a div h3
{
    color: #ead076;
    text-decoration: underline;
}
.cont-thi-a div p
{
    padding-right: 80px;
    padding-top: 40px;
    font-size: 21px;
    color: #9c822b ;;
}
@media only screen and (max-width:500px)
{
    .cont-thi-a
    {
        flex-direction: column;
        align-items: center;
    }
    .cont-thi-a div
    {
        margin: auto;
        padding: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cont-thi-a img
    {
        width: 368px;
    }
    .cont-thi-a div h3
    {
        font-size: 27px;
        margin-bottom: 30px;
        margin-top: 20px;
        text-align: center;
    }
    .cont-thi-a div p
    {
        text-align: center;
        font-size: 1.7em;
        padding: initial;
        margin: auto;
        padding-right: 8%;
        padding-left: 8%;
    }
}
/*cont-thi-a*/
/*footer*/
footer
{
    height: 150px;
    background-color: rgb(37, 37, 37);
    border-radius: 0px 80px 0px 0px ;
    display: flex;
    justify-content: space-between;
}
footer  nav img
{
    width: 80px;
    object-fit: contain;
}
footer nav
{
    display: flex;
    margin-left: 60px;
}
footer nav ul
{
    display: flex;
    list-style: none;
    margin-top: 30PX;
}
footer nav ul li 
{
    color: #9c822b;
    margin: 30px;
    font-size: 17PX;
    font-weight: 500;
    cursor: pointer;
}
footer nav ul li:hover
{
    text-decoration: underline;
}
footer nav ul li:active
{
    color: #ceb359;
}
footer div svg
{
    
    color: #9c822b;
    margin: 20px;
    margin-top: 65px;
    margin-right: 30px;
    cursor: pointer;
}
footer div svg:active
{
    color: #ead076;;
}
@media only screen and (max-width:500px)
{
    footer
    {
        flex-direction: column;
        height: 600px;
        align-items: center;
    }
    footer nav 
    {
        flex-direction: column;
        align-items: center;
        margin: initial;
        margin-top: 50px;
    }
    footer nav ul
    {
        flex-direction: column;
        align-items: center;
        padding-left: initial;
    }
    footer nav ul li
    {
        font-size: 20px;
    }
}
/*footer*/